.service-component-container{
    display: flex;
    flex-direction: column;
    border-right: 2px solid azure;
    border-top: 2px solid azure;
    border-bottom: 2px solid azure;
    font-size: 1.2rem;
    width: 310px;
    max-height: 243px;
    margin: 10px;
    margin-left: 40px;
}
.service-component-section{
    padding: 60px 0px;
}
.title{
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 0px;
}
.service-component-body{
    display: flex;
    /* border: 2px solid red; */
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}
.service-component-box:hover{
    border-left: 2px solid azure;
    background-color: rgba(187, 203, 203, 0.1);
    /* color: brown; */
}
.service-component-box{
    display: flex;
    /* border: 2px solid red; */
    width: auto;
    height: 40px;
    border-left: 0.2px dotted azure;
    }
.service-component-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
    margin: 0px 4px;
    width: 10% ;
}
.service-component-title{
    margin: 0px 4px;
    display: flex;
    align-items: center;
}
.service-component-details{
    /* border: 2px solid azure; */
    margin: 10px;
    margin-top: 0px;
    width: 60vw;
}
.component-link{
    text-decoration: none;
    color:inherit;
}
.component-title{
    font-size: 3rem;
}
.service-component-details h2{
    font-size: 1.8rem;
    text-align: center;
    /* color: #ffeba7; */
    -webkit-text-stroke: 1px #3b7fda;
    -webkit-text-fill-color: transparent;
    color: transparent;
    padding: 0px;
}
.ser-comp-det-img{
    /* background: lightblue url("../../img/Automobile.jpg") no-repeat center center/cover; */
    z-index: 3;
    width: auto;
    height: 300px;
    padding: 10px 10px;
    margin: 10px;
}
.ser-comp-det-img img{
    display: block;
    height: 100%;
    width: 100%;
}
.ser-comp-det-data{
    padding: 10px;
    font-size: 1rem;
}
@media screen and (max-width: 1000px){
    .service-component-container{
        font-size: 1.1rem;
        width: 300px;
        margin-left: 5px;
    }

}
.title {
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 0px;
}
@media screen and (max-width: 860px){
    .service-component-container{
        font-size: 1.04rem;
        width: 280px;
        margin-left: 5px;
    }
}
@media screen and (max-width: 800px){
    .service-component-details h2 {
        font-size: 1.7rem;
        -webkit-text-stroke: 2px transparent;
        -webkit-text-fill-color: #3b7fda;
        color: #3b7fda;
    }
    .service-component-details{
        width: 95vw;
    }
}