body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: #ececee;
  background-color: #ffffff;
  /* background-image: url('./img/background.jpg') ; */
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;
  width: 100%;
  overflow-x: hidden;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}